// app global css

border-radius()
  -webkit-border-radius: arguments
  -moz-border-radius: arguments
  border-radius: arguments

.round_img
  border-radius(100%)

.icon
  height: 50px;
  width: 50px;
